<CiscoIPPhoneText>
   <Title>{{ title }}</Title>
   <Text>{{ text }}</Text>
   <SoftKeyItem>
     <Name>Exit</Name>
     <URL>Init:Services</URL>
     <Position>1</Position>
   </SoftKeyItem>
   <SoftKeyItem>
     <Name>Flare</Name>
     <URL>http://pbxadmin.uah.edu/findmyipphone/flare?device=#DEVICENAME#</URL>
     <Position>2</Position>
   </SoftKeyItem>
   <SoftKeyItem>
     <Name>I Am Here</Name>
     <URL>http://pbxadmin.uah.edu/location-input.xml</URL>
     <Position>3</Position>
   </SoftKeyItem>
</CiscoIPPhoneText>

