<CiscoIPPhoneText>
   <Title>{{ title }}</Title>
   <Text>{{ text }}</Text>
   <SoftKeyItem>
     <Name>Exit</Name>
     <URL>Init:Services</URL>
     <Position>1</Position>
   </SoftKeyItem>
</CiscoIPPhoneText>

